:root {
    --normal: #A8A77A;
    --fire: #EE8130;
    --water: #6390F0;
    --electric: #F7D02C;
    --grass: #7AC74C;
    --ice: #96D9D6;
    --fighting: #C22E28;
    --poison: #A33EA1;
    --ground: #E2BF65;
    --flying: #A98FF3;
    --psychic: #F95587;
    --bug: #A6B91A;
    --rock: #B6A136;
    --ghost: #735797;
    --dragon: #6F35FC;
    --dark: #705746;
    --steel: #B7B7CE;
    --fairy: #D685AD;
}
body {
    margin: 0px;
}
#pokemonList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(64px, 4px));
    gap: 4px;
    justify-content: center;
    grid-auto-flow: row;
    padding: 0;
    margin: 32px;
}
.pokedex-entry {
    position: relative;
    list-style-type: none;
    width: 64px;
    height: auto;
    padding: 0px;
    border-radius: 8px;
    & .pokemon-image-container {
        width: 64px;
        height: 64px;
        padding: 0;
        margin: 0;
        & button {
            position: absolute;
            width: 64px;
            height: 64px;
            padding: 0;
            margin: 0;
            background-color: transparent;
            border-radius: 8px;
            border: none;
        }
        & img {
            width: 64px;
            height: 64px;
        }
    }
    & .pokemon-info-container {
        display: flex;
        flex-wrap: wrap;
        width: 64px;
        height: 32px;
        padding: 0;
        background-color: #111111;
        border-radius: 0px 0px 8px 8px;
        & .pokemon-info-title {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50%;
            text-align: center;
            font:  1rem system-ui;
            font-weight: 700;
            color: white;
        }
        & .pokemon-info-type {
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid #111111 4px;
            box-sizing: border-box;
            text-align: center;
            font:  0.75rem system-ui;
            font-weight: 700;

            font-style: italic;
            color: white;
        }
        & .single-type {
            width: 100%;
            height: 50%;
            background-color: red;
            border-radius: 8px;
        }
        & .duo-type-1 {
            width: 50%;
            height: 50%;
            background-color: blue;
            border-radius: 8px 0px 0px 8px;
            border-right-width: 2px;
        }
        & .duo-type-2 {
            width: 50%;
            height: 50%;
            background-color: green;
            border-radius: 0px 8px 8px 0px;
            border-left-width: 2px;

        }
    }
}

@media screen and (min-width: 769px){
#pokemonList {
    grid-template-columns: repeat(auto-fit, minmax(128px, 128px));
    margin: 64px;
}
.pokedex-entry {
    width: 128px;
    border-radius: 12px;
    & .pokemon-image-container {
        width: 128px;
        height: 128px;
        & button {
            width: 128px;
            height: 128px;
        }
        & img {
            width: 128px;
            height: 128px;
        }
    }
    & .pokemon-info-container {
        width: 128px;
        height: 64px;
        background-color: #111111;
        border-radius: 0px 0px 8px 8px;
    }
}
}