@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --pokemonRed: #D21E3D;
    --ui_light: #ECECEC;
    --ui_dark: #111111;
    /*Type colours*/
    --normal: #A8A77A;
    --fire: #EE8130;
    --water: #6390F0;
    --electric: #F7D02C;
    --grass: #7AC74C;
    --ice: #96D9D6;
    --fighting: #C22E28;
    --poison: #A33EA1;
    --ground: #E2BF65;
    --flying: #A98FF3;
    --psychic: #F95587;
    --bug: #A6B91A;
    --rock: #B6A136;
    --ghost: #735797;
    --dragon: #6F35FC;
    --dark: #705746;
    --steel: #B7B7CE;
    --fairy: #D685AD;
}

body {
    margin: 0px;
    background-color: white;
}

/*
Navbar elements
*/

nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 50px;
    background-color: var(--pokemonRed);
    border: 5px solid black;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
}

.nav-spacer {
    width: 100%;
    height: 55px
}

/*
Main page elements
*/

main {
    display: grid;
    gap: 16px;
    margin: 16px;
}

.in-team {
    display: none;
}

/*Current team section elements*/

.team-container {
    border-radius: 16px;
    background-color: var(--ui_dark);

    .current-team {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
        margin: 16px;
        gap: 16px;

        .team-member-entry {
            position: relative;
            width: 96px;
            margin: 16px 0;
            font-size: 0.75rem;

            .team-member-button {
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 100%;
                background-color: transparent;
                border: none;
            }

            .team-member-button:hover {
                cursor: not-allowed;
            }

            .team-member-image {
                width: 100%;
                border-radius: 8px;
            }

            .team-member-info-container {
                height: 60px;

                .team-member-name {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 60%;
                    font: 1em 'Poppins';
                    font-weight: 700;
                    color: white;
                    text-align: center;
                }

                .team-member-type-container {
                    position: relative;
                    height: 40%;

                    .team-single-type {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        z-index: 1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 4px;
                        text-align: center;
                        font: 0.75em 'Poppins';
                        font-weight: 400;
                        font-style: italic;
                        color: white;
                        text-shadow: 0 0 5px #000000, 0 0 5px #000000, 0 0 5px #000000, 0 0 5px #000000;
                    }

                    .team-duo-type-container {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        display: flex;
                        border-radius: 6px;
                        text-align: center;
                        font: 0.75em 'Poppins';
                        font-weight: 400;
                        font-style: italic;
                        color: white;
                        text-shadow: 0 0 5px #000000, 0 0 5px #000000, 0 0 5px #000000, 0 0 5px #000000;

                        .team-duo-type-1,
                        .team-duo-type-2 {
                            width: 50%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .team-duo-type-1 {
                            border: 2px solid var(--ui_dark);
                            border-width: 0 2px 0 0;
                            border-radius: 6px 0 0 6px;
                        }

                        .team-duo-type-2 {
                            border: 2px solid var(--ui_dark);
                            border-width: 0 0 0 2px;
                            border-radius: 0 6px 6px 0;
                        }
                    }
                }
            }
        }
    }
}

/*Type info section elements*/

.team-type-info {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 12px;
    padding: 16px;
    border-radius: 16px;
    background-color: var(--ui_light);

    .type-indicator-container {
        width: 128px;
        height: 32px;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;

        .type-indicator-icon {
            width: 50%;
            height: 100%;
        }

        .type-indicator-marks {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;

            .type-indicator {
                width: 5px;
                border-radius: 5px;
                height: 100%;
                background-color: #D9D9D9;
            }
        }

        .type-icon-shadow {
            width: 25%;
            height: 100%;
            position: absolute;
            margin-right: 50%;
            border-radius: 50%;
        }

        .type-icon-shadow-weak {
            box-shadow: 0 0 20px var(--pokemonRed), 0 0 20px var(--pokemonRed);
        }

        .type-icon-shadow-resist {
            box-shadow: 0 0 20px var(--grass), 0 0 20px var(--grass);
        }
    }
}

/*Pokemon list section elements*/

.pokemon-list-container {
    height: auto;
    background-color: var(--ui_light);
    border-radius: 16px;
}

.pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(96px, 96px));
    gap: 24px 12px;
    justify-content: center;
    grid-auto-flow: row;
    padding: 32px 16px;
    margin: 0;
}

.pokedex-entry {
    position: relative;
    list-style-type: none;
    width: 96px;
    height: auto;
    border-radius: 8px;

    .pokedex-button {
        position: absolute;
        width: 96px;
        height: 156px;
        background-color: transparent;
        border: none;
    }

    .pokedex-button:hover {
        cursor: pointer;
    }

    .pokemon-image-container {
        height: 96px;

        & img {
            padding: 8px;
            width: 72px;
            height: 72px;
            border: solid var(--ui_dark) 4px;
            border-radius: 8px 8px 0 0;
        }
    }

    .pokemon-info-container {
        display: flex;
        flex-wrap: wrap;
        width: 96px;
        height: 60px;
        padding: 0;
        background-color: var(--ui_dark);
        border-radius: 0px 0px 8px 8px;
        font-size: 0.75rem;

        .pokemon-info-title {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 60%;
            text-align: center;
            font: 1em 'Poppins';
            font-weight: 500;
            color: white;
        }

        .pokemon-info-type {
            display: flex;
            width: 100%;
            height: 40%;
            justify-content: center;
            align-items: center;
            border: solid var(--ui_dark) 4px;
            border-radius: 6px;
            box-sizing: border-box;
            text-align: center;
            font: 0.75em 'Poppins';
            font-weight: 400;
            font-style: italic;
            color: white;
            text-shadow: 0 0 5px #000000, 0 0 5px #000000, 0 0 5px #000000, 0 0 5px #000000;
        }

        .duo-type-1 {
            width: 50%;
            border-radius: 6px 0px 0px 6px;
            border-right-width: 2px;
        }

        .duo-type-2 {
            width: 50%;
            border-radius: 0px 6px 6px 0px;
            border-left-width: 2px;
        }
    }
}

.pokedex-entry-hover {
    bottom: 12px;
}

/*
Media query for laptop/desktop
*/

@media screen and (min-width: 769px) {
    main {
        margin: 25px;
    }

    .team-container {
        .current-team {
            .team-member-entry {
                width: 128px;
                font-size: 1rem;

                .team-member-image {
                    border-radius: 12px;
                }

                .team-member-info-container {
                    .team-member-name {
                        font-size: 1em;
                    }
                }
            }
        }
    }

    .pokemon-list {
        grid-template-columns: repeat(auto-fit, minmax(128px, 128px));
    }

    .pokemon-list-container {
        border-radius: 24px;
    }

    .pokedex-entry {
        width: 128px;
        border-radius: 12px;

        .pokedex-button {
            width: 128px;
            height: 208px;
        }

        .pokemon-image-container {
            height: 128px;

            & img {
                padding: 12px;
                width: 96px;
                height: 96px;
                border-radius: 12px 12px 0 0;
            }
        }

        .pokemon-info-container {
            width: 128px;
            height: 80px;
            background-color: var(--ui_dark);
            border-radius: 0px 0px 8px 8px;
            font-size: 1rem;
        }
    }
}